# Logs
/logs
*.log
/src/modules/__p

/src/miner_monitor/__pycache__
/src/modules/__pycache__

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# macOS
.DS_Store

# Vim swap files
*.swp

/price.csv
/history.txt
/template.xls
/json
/old
.idea
.vscode
config.ini
/src/tests

# temp
/src/modules/ip_searcher.py
